<section id="accueil" class="hero-section pt-24 pb-32 flex items-center justify-center bg-white">
  <div class="container mx-auto px-4 text-center">
    
    <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-congo-green mb-4 leading-tight">
      65ÈME ANNIVERSAIRE DE L'INDÉPENDANCE DU CONGO
    </h1>

    <p class="text-lg md:text-2xl text-gray-700 mb-6 font-medium">
      "Célébrer ensemble, avancer ensemble"
    </p>
    <p class="text-congo-red text-base md:text-lg font-semibold mb-10 flex justify-center items-center gap-2">
    <span>📍</span> Du 12 au 15 août 2025 • Place Bicentenaire, Cotonou, Bénin
    </p>

    <!-- Countdown -->
    <div class="flex justify-center flex-wrap gap-6 mb-20">
      <div class="countdown-item bg-gray-100 shadow-md rounded-xl w-24 h-24 flex flex-col items-center justify-center">
        <span id="days" aria-label="46 jours restants" class="text-4xl font-bold text-black">00</span>
        <span class="text-congo-green text-sm mt-1">Jours</span>
      </div>
      <div class="countdown-item bg-gray-100 shadow-md rounded-xl w-24 h-24 flex flex-col items-center justify-center">
        <span id="hours" class="text-4xl font-bold text-black">00</span>
        <span class="text-congo-green text-sm mt-1">Heures</span>
      </div>
      <div class="countdown-item bg-gray-100 shadow-md rounded-xl w-24 h-24 flex flex-col items-center justify-center">
        <span id="minutes" class="text-4xl font-bold text-black">00</span>
        <span class="text-congo-green text-sm mt-1">Minutes</span>
      </div>
      <div class="countdown-item bg-gray-100 shadow-md rounded-xl w-24 h-24 flex flex-col items-center justify-center">
        <span id="seconds" class="text-4xl font-bold text-black">00</span>
        <span class="text-congo-green text-sm mt-1">Secondes</span>
      </div>
    </div>

    <!-- Boutons -->
    <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a href="#activites" class="bg-transparent border-2 border-[#C2201B] hover:bg-white text-black font-bold py-3 px-9 rounded-full text-lg transition duration-300 shadow-sm">
        Voir les activités
      </a>
      <a href="#inscription" class="bg-congo-yellow hover:bg-yellow-400 text-congo-green font-bold py-3 px-8 rounded-full text-lg transition duration-300 shadow-md">
        S'inscrire maintenant
      </a>
    </div>

  </div>
</section>